#container {
	width: 1440px;
	height: 8800px;
	margin: auto;
	margin-size: 100%;
}


#column {
	float: left;
	width: 300px;
	height: 8800px;
	background: white;
}

#boxes {
	padding-top: 425px;
	padding-left: 143px;
}

#bigdecor {
	width: 5px;
	height: 10px;
	background: black;
	display: inline-block;
	transform: skew(-20deg);
	margin-top: 5px;
	margin-bottom: 5px;
}

#ch {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: lighter;
	color: black;
	padding-top: 535px;
	
}

#highlights {
	font-family: Helvetica;
	font-size: 8px;
	font-weight: lighter;
	color: black;
	margin-top: 803px;
}

#column2 {
	float: left;
	width: 840px;
	height: 8800px;
	background: white;
}

	#title {
		font-family: Helvetica;
		font-size: 120px;
		font-weight: lighter;
		color: black;
		font-style: oblique;
		text-shadow: 4px 2px #FFDAB9;
		text-align: center;
	}

	#img {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#opco {
		width: 640px;
		padding-left: 100px
	}

	#opening {
		font-family: Helvetica;
		font-size: 12px;
		font-weight: lighter;
		color: black;
	}

	#inco {
		width: 500px;
		padding-left: 160px;
		padding-top: 100px;
	}

	#imginternet {
		padding-bottom: 100px;
	}

	#interview {
		font-family: Helvetica;
		font-size: 12px;
		font-weight: lighter;
		color: black;
	}

			#sherman {
				
			}

			#harrison {
				
			}

			#yi {
				
			}

			#simmons {
				
			}

			#sunblad {
				
			}

			#epson {
				
			}

			#peyton {
				
			}

			#schutz {
				
			}

			#abeles {
				
			}

			#bove {
				
			}

			#bratsch {
				
			}

			#meckseper {
				
			}

			#july {
				
			}

			#emin {
				
			}

			#hardy {
				
			}

			#liden {
				
			}

			#sillman {
				
			}

			#abramovic {
				
			}

			#ono {
				
			}

#tinyboxes {
	padding-left: 235px;
}

#decoration {
	width: 5px;
	height: 10px;
	background: black;
	display: inline-block;
	transform: skew(20deg);
	margin-top: 50px;
	margin-bottom: 50px;

}

#tinyboxes2 {
	padding-left: 235px;
}

#decoration2 {
	width: 5px;
	height: 10px;
	background: black;
	display: inline-block;
	transform: skew(-20deg);
	margin-top: 50px;
	margin-bottom: 50px;
}

#column3 {
	float: left;
	width: 300px;
	height: 8800px;
	background: white;
}

#boxes2 {
	padding-top: 425px;
	padding-left: 143px;
}

#bigdecor2 {
	width: 5px;
	height: 10px;
	background: black;
	display: inline-block;
	transform: skew(20deg);
	margin-top: 5px;
	margin-bottom: 5px;
}

#imgletter {
	margin-top: 803px;
	padding-top: 535px;
}
#caption {
	font-family: Helvetica;
	font-size: 8px;
	font-weight: lighter;
	color: black;
}
